@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Vibur);
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}
body{background:#12c3e2;}
h1{
  color:#ccc;
  text-align:left;
  font-family: 'arial', cursive;
  font-size: 50px;
}
label{
  color:rgb(91, 90, 99);
  text-align:'center';
  font-family: 'helvetica';
  font-size: 20px;
}

.login-form{
  width:350px;
  padding:40px 30px;
  background:#eee;
  @include border-radius(4px);
  margin:auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  @include translateY(-50%);
}
.chatContainer{
  width:500px;
  padding:40px 30px;
  background:#12c3e2;
  @include border-radius(4px);
  margin:auto;
  position: absolute;
  left: 100;
  right: 0;
  top: 0%;
  @include translateY(-50%);
}
.form-group{
  position: relative;
  margin-bottom:1px;
}
.form-control{
  width:100%;
  height:35px;
  border:none;
  padding:5px 7px 5px 15px;
  background:#fff;
  color:#666;
  border:2px solid #ddd;
  @include border-radius(4px);
    &:focus, &:focus + .fa{
      border-color:#10CE88;
      color:#10CE88;
    }
}
.form-group .fa{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}
.log-status.wrong-entry {
 @include animation( wrong-log 0.3s);
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}
.log-btn{
  background:#0AC986;
  dispaly:inline-block;
  width:100%;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  @include border-radius(4px);
}

.link{
  text-decoration:none;
  color:#C6C6C6;
  float:right;
  font-size:12px;
  margin-bottom:15px;
  &:hover{
    text-decoration: underline;
    color:#8C918F;
  }
}
.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}
@include keyframes (wrong-log) {
  0%, 100% { left: 0px;}
  20% , 60%{left: 15px;}
  40% , 80%{left: -15px;}
}
/*estilo para todos los tags li*/
li {
  width: 400px;
  margin: 4px;
  padding: 2px;
  list-style: none
}
table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 100px;
}

tr:nth-child(even){background-color: #691d1d}

th {
  background-color: #04AA6D;
  color: rgb(230, 231, 243);
}
tr, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

thead {
  background-color: #c7e8fd;
  color: rgb(41, 4, 4);
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}
/*estilos personalizados*/
.midlaner {background-color: #eeeeee}
.toplaner {background-color: #ffea00}